<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<authorization>
				<deny users="*" />
			</authorization>
		</security>
		<requestFiltering>
			<fileExtensions allowUnlisted="false">
				<add fileExtension=".log" allowed="true" />
			</fileExtensions>
		</requestFiltering>
		<staticContent>
			<mimeMap fileExtension=".log" mimeType="text/plain" />
		</staticContent>
		<defaultDocument>
			<files>
				<add value="index.php" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="false" />
	</system.webServer>
</configuration>